h1 {
    text-align: center;
}

.App {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    width: 100%;
    height: 100%;
}

.CategoryListView {
    flex: 1;
    display: flex;
    min-width: 320px;
    position: relative;
    height: 100%;
    overflow: auto;
}
